.loading::before {
  content: ' ';
  width: 2em;
  height: 2em;
  border: 0.2em solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  display: block;
  margin: auto;
}

@keyframes loadingspin {
  100% {
      transform: rotate(360deg)
  }
}


*:first-child {
  margin-top: 0;
}

.row {
  margin: 0 0 1em;
  display: flex;
}

#root > div {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #root {
    display: flex;
  }

  .form {
    margin-right: 10px;
  }
}

.form {
  padding: 1em;
  background: #ddd;
}

label {
  min-width: 120px;
  display: inline-block;
}

label.label--radio {
  min-width: unset;
}

.profile {
  background: #ddd;
  padding: 1em;
}

#profile {
  background: white;
  padding: 1em;
}

#profile.loading code {
  visibility: hidden;;
}

@media (min-width: 768px) {
  .form,
  .profile {
    max-width: 350px;
    overflow-wrap: break-word;
  }
}

input {
  font-size: inherit;
}

@media (min-width: 768px) {
  input:not([type="radio"]):not([type="checkbox"]) {
    min-width: 200px;
    font-size: 14px;
  }
}

.row--error input:not([type="radio"]),
.row--error select {
  border: solid 1px red;
}

p.hint {
  margin: 0;
}

p.error {
  margin: 0.25em 0 0;
  color: red;
}

.nowrap {
  white-space: nowrap;
}
